:root{
  --primary01: #000;
  --purple: purple;
}
// Text Colors
$txt-color-909992: #909992;
$txt-color-d8d8d8: #d8d8d8;
$txt-color-fff: #fff;

// Background Colors
$bg-color-d8d8d8: #d8d8d8;
$bg-color-f2f2f4: #f2f2f4;

// Border Colors
$border-color-d3d4d6: #d3d4d6;

// Font Weights
$font-weight700: 700;